.custom-progress-bar {
  .inner-progress {
    position: relative;
    width: 0;
    height: 100%;
    background-color: blue;
    transition: width 0.2s ease-in-out;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      content: attr(data-label);
      font-size: 13px;
    }
  }
}

table {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important
;
}

table thead th {
  padding: 15px !important;
}

table tbody td {
  padding: 15px !important;
  border: none !important;
}
